<div class="wrapper container-fluid">
  <div class="row">
    <div class="a col-md">
      <h1>
        Kashif
      </h1>
      <p>
        A computer scientist from the United Kingdom.
      </p>
      <ul>
        <li>
          <b><u><a href="http://github.com/quasipolynomial" class="text-1">GitHub</a></u></b>.
        </li>
        <li>
          <b><u><a href="http://linkedin.com/in/kashifkhanpublic" class="text-1">LinkedIn</a></u></b>.
        </li>
        <li>
          <b><u><a href="mailto:info@kashifkhan.me" class="text-1">info@kashifkhan.me</a></u></b>.
        </li>
      </ul>
    </div>
    <div class="b col-md">
      </div>
    </div>
</div>

<style>
.link {
  text-decoration: underline;
  font-style: italic;
  font-weight:bold;
  color:white;
}
.text-1 {
  color:#869393;
}
.wrapper {
  height:100%;
}
.a {
  min-height:100vh;
  height:100%;
  background:#fff;
  color:#000;
}

.b {
  min-height:100vh;
  height:100%;
  background:#aaa;
  color:#fff;
}

.c {
  min-height:100vh;
  height:100%;
  background:#3C493F;
  color:#757e77;
}

.card {
  background:none;
  color:inherit;

}
.card button{
  color:#fff;
}
h1,h4{
  margin-top:25px;
  margin-bottom:25px;
}
</style>
